* {
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    width: 100%;
    height: 100%;
    font-size: calc(0.9vw + 8.74px);
  }
  
  body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /* background-color: #BBEAA6; */
    /* background-color: #FFDCF7; */
  }

  li {
    list-style-type: none;
  }

/* Componet */
.warning-p-tag {
  color: red;

}


/* 
-------------------------------------------------
                    DashBoard CSS
-------------------------------------------------
*/


.image-anchor-fragment-div-style {
  display: flex;
  align-items: center;
  justify-content: center;
}
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
  }

  .arts {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .art-item {
    flex-basis: 11rem;
    margin: 0 0.8rem;
    transition: all .4s ;
  }

  .art-item:hover {
    flex-basis: 11.5rem;
    margin: 0 1.5rem;
    cursor: pointer;
  }

  .art-item:hover .item_content p {
    max-height: 10rem;
  }

  .art-item:hover .item:before {
    background: none;
  }

  .art-item img {
    width: 100%;
    border-radius: 2px;
    
    /* position: absolute;
    bottom: 0;
    left:0; */
  }

  .item {
    position: relative;
  }

  .item:before {
    content: "";
    background: linear-gradient(0deg, rgba(0,0,0,0.2035749299719888) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    left: 0;
    bottom:0.29rem;
    right:0;
    height: 18rem;
  }

  .item_content {
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-bottom: 0.7rem;  
    color: white
  }


  .item_content p {
    color: white;
    font-size: 0.5rem;
    max-height: 0;
    overflow: hidden;
    transition: all .4s;
  }

  .item_content h2 {
    font-size: 0.8rem;
  }

  
  .canvas-background {
    position: absolute;
    z-index:-1;
    background-color:#7BFEC9;
    width: 100%;
    height: 100%;
   
  }


/* 
-------------------------------------------------
                    Falling Lion CSS
-------------------------------------------------
*/

.message-container {
  position: absolute;
  width: 20vw;
  top: 40%;
  left: 50%;
  transform: translate(-50% , -50%);
  transition: all 1.0s;
  background-color: transparent;
  animation: message_alert 8s ;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.message-p {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
  color: #fff;
  white-space : nowrap;
}

@keyframes message_alert {
  60% {
    transform: translate(-50% , -50%) scale(1);
  }

  70% {
    transform: translate(-50% , -50%) scale(1.05);
  }

  80% {
    transform: translate(-50% , -50%) scale(0.95);
  }
  
  100% {
    transform: translate(-50% , -50%) scale(0);
  }
}
 

/* 
-------------------------------------------------
                    Pixelize CSS
-------------------------------------------------
*/
.side_btn_wrapper {
  position: absolute;
  top: 5rem;
  right: 2rem;
  max-width: 50px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zoom_in_image {
  background-image: url("./image/zoom_in.svg");
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-top: 1rem;
  cursor: pointer;
 }
 
 .side_btn_wrapper :hover {
   transform: scale(1.3,1.3);
 }

.zoom_out_image {
  background-image: url("./image/zoom_out.svg");
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-top: 1rem;
  cursor: pointer;
 }

 .pixelize_image {
  background-image: url("./image/pixelize.svg");
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-top: 1rem;
  cursor: pointer;
 }

 .change_image {
  background-image: url("./image/change.svg");
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-top: 1rem;
  cursor: pointer;
 }

 
/* 
-------------------------------------------------
                    Spark CSS
-------------------------------------------------
*/

.overflow-hidden-style {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(65, 119, 246, 0.905);
  overflow-y: hidden;
}

.original-canvas {
  display: block;
  width: 100%;
  height: 60vh;
  
}

.reflect-canvas {
  display: block;
  width: 100%;
  height: 60vh;
  transform-origin: 0% 50%;
  transform: scaleY(-1);
  filter: blur(10px);
}

/* 
-------------------------------------------------
                    Buttons
-------------------------------------------------
*/

.close-button {
  position: absolute;
  top:50%;
  left:0.5rem;
  transform: translate(0, -50%);
  margin-top: auto; 
  margin-bottom: auto;
  z-index: 3;
  cursor: pointer;
}

.close-button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #222;
}

.github-button {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: auto; 
  margin-bottom: auto;
  z-index: 3;
  cursor: pointer;
}

.github-button svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: #222;
}


/* 
-------------------------------------------------
                    Page Transition Effect 
-------------------------------------------------
*/

.squeeze-animation {
  animation: animate 1.2s ease;
}

body {
  background-color: #222;
}


@keyframes animate {
  10% {
    transform: scale(1, 0.001);
  }
    
  35% {
    transform: scale(0.2, 0.001);
    opacity: 0;
  }
    
  50% {
    transform: scale(0.2, 0.001);
    opacity: 0;
  }
    
  77% {
    transform: scale(1, 0.001);
    opacity: 1;
  }
    
  100% {
    transform: scale(1, 1);
  }
    
}

